{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% tailwind_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/logosm.png' %}" type="image/x-icon">
    <title>VAS - Home</title>
    <style>
        .backdrop-blur {
            backdrop-filter: blur(8px);
        }
    </style>
</head>
<body class="relative w-screen h-screen">
    <img class="w-full h-full object-cover" src="https://t4.ftcdn.net/jpg/08/51/79/15/240_F_851791579_8qmnjbcyw1JenLpAoQCIoGnDb3qb8TPB.jpg" alt="">

    <div class="absolute inset-0 flex justify-center items-center">
        <div class="border border-pink-800 rounded-xl p-8 backdrop-blur">
            <div class="font-bold text-red-700 xl:text-5xl md:text-3xl mb-4 text-center">Welcome to Voice Authentication System</div>
            <div class="font-light text-white text-center text-2xl mb-6">Secure your work with the best security system</div>
            <div class="text-center mt-20">
                <a class="bg-gradient-to-r from-yellow-500 to-red-600 px-6 py-3 rounded-xl text-white hover:from-yellow-600 hover:to-red-700 transition duration-300 shadow-md" href="login">Get Started</a>
            </div>
        </div>
    </div>
</body>
</html>